<html>
  <head>
    <script src="https://unpkg.com/pyodide@0.15.1/pyodide.js"></script>
    <script>
      languagePluginUrl = "https://unpkg.com/pyodide@0.15.1/full/";
      pyodide.loadPackage("numpy").then(function() {
        console.log("numpy loaded");
      });
      pyodide.loadPackage("matplotlib").then(function() {
        console.log("matplotlib loaded");
      });
    </script>
  </head>
  <body>
    <h1>Python in HTML</h1>
    <p>Output:</p>
    <pre id="output"></pre>
    <script>
      var python_code = `
        print("Hello, World!")
      `;
      pyodide.runPython(python_code);
      document.getElementById("output").textContent = python_code;
    </script>
  </body>
</html>